// Color
$bandsite-black: #323232;
$mercury-color: #e1e1e1;
$white-color: #ffffff;
$alabaster-color: #fafafa;

//Spacing-Desktop
$padding-top-desktop: 4.8rem;
$padding-bottom-desktop: 3.6rem;

//Spacing-Mobile
$padding-top-mobile: 2.4rem;
$padding-bottom-mobile: 1.6rem;
