@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/font/AvenirNextLTPro-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/font/AvenirNextLTPro-Demi.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/font/AvenirNextLTPro-Bold.otf');
  font-weight: 700;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Avenir Next', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6.8rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.4rem;
}

/* Header */

.header {
  background-color: #323232;
  padding: 0.05rem 0;
  height: 8.7rem;
}

.header__flex {
  display: flex;
  align-items: center;
  height: 8.7rem;
}

.header__logo {
  padding: 0.8rem;
}

.header__image {
  width: 12rem;
  height: 2rem;
}

.header__navbar {
  margin-left: 5rem;
}

.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
}

.header__link {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2.2rem;
  color: #e1e1e1;
  padding: 3.55rem 0.5rem;
  position: relative;
}

.header__link::before {
  content: '';
  visibility: hidden;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  height: 0.5rem;
  background-color: #fff;
}

.header__link:hover {
  color: #fff;
  font-weight: 700;
}

.header__link:hover::before {
  visibility: visible;
}

/* Hero-Section */

.hero {
  background-image: -webkit-linear-gradient(
      top,
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url('../assets/images/hero-bio.jpg');
  height: calc(100vh - 8.7rem);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__content {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* About-Section */
.about {
  padding-top: 4.8rem;
}

.about__heading {
  padding-bottom: 3.6rem;
  color: #323232;
}

.about__content {
  max-width: 110rem;
  margin: 0 auto;
}

.about__image {
  width: 100%;
}

.about__qoute {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #323232;
  width: 65%;
  padding-top: 3.6rem;
}

.about__author {
  padding-top: 1.6rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #323232;
}

.about__sub-heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #323232;
  padding-top: 4.8rem;
  padding-bottom: 3.6rem;
}

.about__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.6rem;
}

.about__para {
  width: 45%;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #323232;
}

/* Photo-Gallery */
.photo-gallery {
  background-color: #fafafa;
  padding-bottom: 3.6rem;
}

.photo-gallary__heading {
  padding-top: 4.8rem;
  padding-bottom: 3.6rem;
}

.photo-gallery__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}

.photo-gallery__item {
  width: 38.6rem;
  line-height: 0;
}

.photo-gallery__img {
  width: 100%;
}
