// Custom Font
@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/font/AvenirNextLTPro-Regular.otf');
  font-weight: 400;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/font/AvenirNextLTPro-Demi.otf');
  font-weight: 600;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../assets/font/AvenirNextLTPro-Bold.otf');
  font-weight: 700;
}

// Removing Default Styles
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

// Setting Font Size

html {
  font-size: 62.5%;
}

body {
  font-family: 'Avenir Next', sans-serif;
  font-size: 1.4rem;
  font-weight: 400;
  min-width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

// Utility Styling
.container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 6.8rem;
}

h2 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.4rem;
}

// Color
$bandsite-black: #323232;
$mercury-color: #e1e1e1;
$white-color:#ffffff
/* Header */

.header {
  background-color: $bandsite-black;
  padding: 0.05rem 0;
  height: 8.7rem;

  &__flex {
    display: flex;
    align-items: center;
    height: 8.5rem;
  }

  &__logo {
    padding: 0.8rem;
  }

  &__image {
    width: 12rem;
    height: 2rem;
  }

  &__navbar {
    margin-left: 5rem;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  &__link {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: $mercury-color;
    padding: 0 1rem;
    position: relative;

    &::before {
      content: '';
      visibility: hidden;
      position: absolute;
      left: 0;
      bottom: -3.55rem;
      right: 0;
      height: 0.5rem;
      background-color: $white-color;
    }

    &:hover {
      color: $white-color;

      &::before {
        visibility: visible;
      }
    }
  }
}

/* Hero-Section */

.hero {
  background-image: -webkit-linear-gradient(
      top,
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url('../assets/images/hero-bio.jpg');
  height: calc(100vh - 8.7rem);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero__content {
  color: #fff;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

/* About-Section */
.about {
  padding-top: 4.8rem;
}

.about__heading {
  padding-bottom: 3.6rem;
  color: #323232;
}

.about__content {
  max-width: 105rem;
  margin: 0 auto;
}

.about__image {
  width: 100%;
}

.about__qoute {
  display: inline-block;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #323232;
  width: 68%;
  padding-top: 3.6rem;
}

.about__author {
  padding-top: 1.6rem;
  font-size: 1.8rem;
  line-height: 2.4rem;
  font-weight: 600;
  color: #323232;
}

.about__sub-heading {
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 600;
  color: #323232;
  padding-top: 4.8rem;
  padding-bottom: 3.6rem;
}

.about__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.6rem;
}

.about__para {
  width: 45%;
  font-size: 1.4rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #323232;
}

/* Photo-Gallery */
.photo-gallery {
  background-color: #fafafa;
  padding-bottom: 3.6rem;
}

.photo-gallary__heading {
  padding-top: 4.8rem;
  padding-bottom: 3.6rem;
}

.photo-gallery__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3.6rem;
}

.photo-gallery__item {
  width: 38.6rem;
  line-height: 0;
}

.photo-gallery__img {
  width: 100%;
}

/* Footer */

.footer {
  background-color: #323232;
  color: #fff;
  padding-top: 4.8rem;
  padding-bottom: 3.6rem;
}

.footer__flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer__heading {
  padding-bottom: 3.2rem;
}

.footer__logo-image {
  width: 12rem;
  height: 2rem;
}

.footer__inner-flex {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.footer__socials {
  line-height: 4.4rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2.5rem;
  padding-bottom: 3.2rem;
}

.footer__socials--mobile {
  display: none;
}

.footer__social-link {
  font-size: 2.4rem;
  color: #fff;
}

.footer__user {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.footer__address {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.footer__contact {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  padding-bottom: 2rem;
}

.footer__copyright {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.footer__item-3 {
  margin-top: 7.6rem;
}

/* Media Queries */

@media (max-width: 1280px) {
  .about__qoute {
    width: 100%;
  }

  .about__content {
    max-width: 90rem;
  }

  .photo-gallery__flex {
    gap: 2rem;
  }

  .photo-gallery__item {
    width: 23rem;
  }
}

@media (max-width: 992px) {
  .about__content {
    max-width: 65rem;
  }
}

@media (max-width: 875px) {
  .footer__flex {
    flex-wrap: wrap;
  }

  .footer__logo {
    margin-top: 4.8rem;
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 785px) {
  .photo-gallery__item {
    width: 100%;
  }

  .footer {
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
  }

  .footer__user {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-bottom: 1.6rem;
  }

  .footer__address {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-bottom: 1.6rem;
  }

  .footer__contact {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-bottom: 0rem;
  }

  .header__flex {
    flex-direction: column;
    justify-content: center;
  }

  .footer__heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .footer__socials {
    line-height: 3.2rem;
  }

  .footer__item-3 {
    margin-top: 6.4rem;
  }

  .header__navbar {
    margin-left: 0rem;
  }

  .header__nav {
    gap: 8.5rem;
  }

  .header__link {
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding: 0 2rem;
  }

  .header__link::before {
    bottom: -1.8rem;
  }

  .hero {
    height: 28rem;
    background-position: center;
  }

  h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  .about {
    padding-top: 2.4rem;
  }

  .about__heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding-bottom: 1.6rem;
    color: #323232;
  }

  .photo-gallary__heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
  }

  .about__qoute {
    padding-top: 2.4rem;
    font-size: 1.8rem;
    line-height: 2.4rem;
  }

  .about__author {
    font-size: 1.8rem;
    line-height: 2.4rem;
    padding-top: 0.8rem;
  }

  .about__sub-heading {
    font-size: 2.4rem;
    line-height: 2.2rem;
    padding-top: 2.4rem;
    padding-bottom: 1.6rem;
  }

  .about__para {
    width: 100%;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-bottom: 1.6rem;
  }

  .about__flex {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2.4rem;
  }
}

@media (max-width: 727px) {
  .footer__inner-flex {
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .footer__inner-flex {
    gap: 2rem;
  }
}

@media (max-width: 462px) {
  .footer__inner-flex {
    display: flex;
  }
}

@media (max-width: 413px) {
  .footer__socials {
    display: none;
  }

  .footer__socials--mobile {
    line-height: 4.4rem;
    display: flex;
    justify-content: flex-start;
    gap: 4rem;
    align-items: center;
    margin-bottom: 1.6rem;
  }

  .footer__heading {
    padding-bottom: 0rem;
  }

  .footer__item-3 {
    margin-top: 0rem;
  }
}
