@import './partials/variables';
@import './partials/typography';
@import './partials/globals';

//Header
.header {
  background-color: $bandsite-black;
  padding: 0.05rem 0;
  height: 8.7rem;

  &__flex {
    display: flex;
    align-items: center;
    height: 8.5rem;
  }

  &__logo {
    padding: 0.8rem;
  }

  &__image {
    width: 12rem;
    height: 2rem;
  }

  &__navbar {
    margin-left: 5rem;
  }

  &__nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  &__link {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.2rem;
    color: $mercury-color;
    padding: 0 1rem;
    position: relative;

    &::before {
      content: '';
      visibility: hidden;
      position: absolute;
      left: 0;
      bottom: -3.55rem;
      right: 0;
      height: 0.5rem;
      background-color: $white-color;
    }

    &:hover {
      color: $white-color;

      &::before {
        visibility: visible;
      }
    }
  }
}

/* Hero-Section */

.hero {
  background-image: -webkit-linear-gradient(
      top,
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url('../assets/images/hero-bio.jpg');
  height: calc(100vh - 8.7rem);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &__content {
    color: $white-color;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* About-Section */

.about {
  padding-top: $padding-top-desktop;

  &__heading {
    padding-bottom: $padding-bottom-desktop;
    color: $bandsite-black;
  }

  &__content {
    max-width: 105rem;
    margin: 0 auto;
  }

  &__image {
    width: 100%;
  }

  &__qoute {
    display: inline-block;
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
    color: $bandsite-black;
    width: 68%;
    padding-top: $padding-bottom-desktop;
  }

  &__author {
    padding-top: $padding-bottom-mobile;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: $bandsite-black;
  }

  &__sub-heading {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
    color: $bandsite-black;
    padding-top: $padding-top-desktop;
    padding-bottom: $padding-bottom-desktop;
  }

  &__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: $padding-bottom-desktop;
  }

  &__para {
    width: 45%;
    font-size: 1.4rem;
    line-height: 2.2rem;
    font-weight: 400;
    color: $bandsite-black;
  }
}

/* Photo-Gallery */
.photo-gallery {
  background-color: $alabaster-color;
  padding-bottom: $padding-bottom-desktop;

  &__heading {
    padding-top: $padding-top-desktop;
    padding-bottom: $padding-bottom-desktop;
  }

  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.6rem;
  }

  &__item {
    width: 38.6rem;
    line-height: 0;
  }

  &__img {
    width: 100%;
  }
}

/* Footer */

.footer {
  background-color: $bandsite-black;
  color: $white-color;
  padding-top: $padding-top-desktop;
  padding-bottom: $padding-bottom-desktop;

  &__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__heading {
    padding-bottom: 3.2rem;
  }

  &__logo-image {
    @extend .header__image;
  }

  &__inner-flex {
    display: flex;
    justify-content: center;
    gap: 5rem;
  }

  &__socials {
    line-height: 4.4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
    padding-bottom: 3.2rem;

    &--mobile {
      display: none;
    }
  }

  &__social-link {
    font-size: 2.4rem;
    color: $white-color;
  }

  &__user {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
    padding-bottom: 2rem;
  }

  &__address {
    @extend .footer__user;
  }

  &__contact {
    @extend .footer__user;
  }

  &__copyright {
    @extend .footer__user;
    padding-bottom: 0rem;
  }

  &__item-3 {
    margin-top: 7.6rem;
  }
}

/* Media Queries */

@media (max-width: 1280px) {
  .about {
    &__qoute {
      width: 100%;
    }

    &__content {
      max-width: 90rem;
    }
  }
  .photo-gallery {
    &__flex {
      gap: 2rem;
    }

    &__item {
      width: 23rem;
    }
  }
}

@media (max-width: 992px) {
  .about {
    &__content {
      max-width: 65rem;
    }
  }

  .hero {
    height: 45rem;
    background-position: center;
  }
}

@media (max-width: 875px) {
  .footer {
    &__flex {
      flex-wrap: wrap;
    }

    &__logo {
      margin-top: $padding-top-desktop;
      margin-bottom: 0.5rem;
    }
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 3.2rem;
  }
  .photo-gallery {
    &__heading {
      padding-top: $padding-top-mobile;
      padding-bottom: $padding-bottom-mobile;
    }

    &__item {
      width: 100%;
    }
  }

  .footer {
    padding-top: $padding-top-mobile;
    padding-bottom: $padding-bottom-mobile;

    &__user {
      font-size: 1.3rem;
      line-height: 1.8rem;
      padding-bottom: 1.2rem;
    }

    &__address {
      font-size: 1.3rem;
      line-height: 1.8rem;
      padding-bottom: 1.2rem;
    }

    &__contact {
      font-size: 1.3rem;
      line-height: 1.8rem;
      padding-bottom: 0rem;
    }

    &__socials {
      line-height: 3.2rem;
    }

    &__item-3 {
      margin-top: 6.4rem;
    }
  }

  .header {
    &__flex {
      flex-direction: column;
      justify-content: center;
    }

    &__navbar {
      margin-left: 0rem;
    }

    &__nav {
      gap: 8.5rem;
    }

    &__link {
      font-size: 1.3rem;
      line-height: 1.8rem;
      padding: 0 2rem;

      &::before {
        bottom: -1.8rem;
      }
    }
  }

  .hero {
    height: 28rem;
    background-position: center;
  }

  .about {
    padding-top: $padding-top-mobile;

    &__heading {
      padding-bottom: $padding-bottom-mobile;
    }

    &__qoute {
      padding-top: $padding-top-mobile;
      font-size: 1.8rem;
      line-height: 2.4rem;
    }

    &__ {
      font-size: 1.8rem;
      line-height: 2.4rem;
      padding-top: 0.8rem;
    }

    &__sub-heading {
      font-size: 2.4rem;
      line-height: 2.2rem;
      padding-top: $padding-top-mobile;
      padding-bottom: $padding-bottom-mobile;
    }
    &__para {
      width: 100%;
      font-size: 1.3rem;
      line-height: 1.8rem;
      padding-bottom: $padding-bottom-mobile;
    }

    &__flex {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      padding-bottom: $padding-top-mobile;
    }
  }
}

@media (max-width: 727px) {
  .footer {
    &__inner-flex {
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &__inner-flex {
      gap: 2rem;
    }
  }
}

@media (max-width: 462px) {
  .footer {
    &__inner-flex {
      display: flex;
    }
  }
}

@media (max-width: 413px) {
  .footer {
    &__socials {
      display: none;

      &--mobile {
        line-height: 4.4rem;
        display: flex;
        justify-content: flex-start;
        gap: 4rem;
        align-items: center;
        margin-bottom: 1.6rem;
      }
    }

    &__heading {
      padding-bottom: 0rem;
    }

    &__item-3 {
      margin-top: 0rem;
    }
  }
}
